*.Cache
*.aps
*.bak
*.dbmdl
*.dotCover
*.egg
*.egg-info
*.ilk
*.launch
*.meta
*.mo
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.pgc
*.pgd
*.psess
*.py[co]
*.pydevproject
*.rsp
*.sbr
*.sdf
*.sln.docstates
*.suo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp
*.user
*.vsp
*.vspscc
*_i.c
*_p.c
*~.nib
.DS_Store
.buildpath
.builds
.classpath
.coverage
.cproject
.externalToolBuilders/
.installed.cfg
.loadpath
.metadata
.mr.developer.cfg
.project
.settings/
.tox
Backup*/
ClientBin
Desktop.ini
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
Generated_Code
TestResults
Thumbs.db
UpgradeLog*.XML
[Bb]in
[Dd]ebug/
[Ee]xpress
[Oo]bj
[Rr]elease/
_ReSharper*
_UpgradeReport_Files/
bin
bin/
build
develop-eggs
dist
eggs
ipch/
local.properties
node_modules
npm-debug.log
parts
pip-log.txt
publish
sdist
sql
stylecop.*
tmp/
var
~$*
